<h2>Hola dime a quien saludar</h2>

You said <%= params[:value]%>

<form action="/" method="post">
  <input type="text" name="nombre" value="">
  <input type="submit" value"Submit">
  <button type="button" name"boton" value="value">Click Me!</button>
</form>
